<!DOCTYPE html>
<html>
<head>
<title>Devices</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap -->
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
</style>
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">lws</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Devices</a></li>
              <li><a href="#wiki">Wiki</a></li>
              <li><a href="#contact">Github</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container">

<p><h2> Dis is whurrrr the device info shall appear. But wait! wut do we want to appear? </h2></p>

</div>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename ='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
