<!DOCTYPE html>
<html>
<head>
<title>Devices</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap -->
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
</style>
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
</head>
<body>

<div class="container">
 <div class="container">
        <div class="page-header">
            <p><h2>Forgot your password? </h2></p>
            <p class="text-warning">Fill out the form below and we'll email you a reset link.</p>
        </div>
    </div>

    <form action="/forgot" method="POST">
            <feildset>
		   <div class="control-group">
                   <label>username</label>
                   <div class="controls">
                      <input type="text" name="username" id="username">
                    </div>
                    <span class="help-block">We need your stupid fucking username.</span>
                    <div class="control-group">
                        <label>e-mail</label>
                        <div class="controls">
                            <input type="text" name="email" id="email">
                        </div>
                        <span class="help-block">Whats your email you fucking idiot?</span>
	     </feildset>
    <button class="btn btn-large btn-primary" type="submit">Reset</button> 
    </form>	
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename ='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
